body {
    overflow: hidden; /* Hide scrollbars */
    background-color: dimgray;
    transition: all 0.5s ease;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.wrapper .sidebar{
    background: gray;
    position: fixed;
    top: 0;
    left: -225px;
    width: 225px;
    height: 100%;
    padding: 20px 0;
    transition: all 0.5s ease;
    z-index: 10;
}

.wrapper .sidebar ul li a{
    display: block;
    padding: 13px 30px;
    color: white;
    font-size: 16px;
    position: relative;
}

.wrapper .sidebar ul li a .icon{
    color: white;
    width: 30px;
    display: inline-block;
}

.wrapper .sidebar ul li a:hover:before,
.wrapper .sidebar ul li a.active:before{
    display: block;
}

.wrapper .section{
    width: 100%;
    margin-left: 0px;
    transition: all 0.5s ease;
}

.wrapper .section .top_navbar{
    background: gray;
    height: 50px;
    display: flex;
    align-items: center;
    padding: 0 30px;

}

.wrapper .section .top_navbar .hamburger a{
    font-size: 28px;
    color: #f4fbff;
}

.wrapper .section .top_navbar .hamburger a:hover{
    color: #a2ecff;
}

body.active .wrapper .sidebar{
    left: 0px;
    z-index: 10;
}

/*
body.active .wrapper .section{
    margin-left: 225px;
    width: calc(100% - 225px);
}
*/

/* Tooltip container */
.tooltip {
    position: relative;
    display: inline-block;
}

/* Tooltip text */
.tooltiptext {
    visibility: hidden;
    width: calc(100% - 40px);
    background-color: black;
    color: #fff;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;

    position: absolute;
    z-index: 1;
    left: 20px;
}

.content {
    position: relative;
    display: flex;
    flex-direction: column;
}

.spell-info {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    padding-bottom: 5px;
    gap: 4px;
}

.summs {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    padding-bottom: 5px;
    gap: 80px;
}

.runes {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    padding-bottom: 5px;
    gap: 80px;
}

.runescolumn {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    gap: 2px;
}

.title {
    text-align: center;
    color: white;
}

.skillorder {
    width: 32px;
    height: 32px;
}

.rune {
    width: 32px;
    height: 32px;
}

.skill {
    text-align: center;
}

.skilldiv {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.spell-window {
    background-color: gray;
}

.spellorder-window {
    background-color: gray;
}

.summoner-window {
    background-color: gray;
}

.runes-window {
    background-color: gray;
}