body {
    overflow: hidden; /* Hide scrollbars */
    background-color: dimgray;
}

/* Tooltip container */
.tooltip {
    position: relative;
    display: inline-block;
}

/* Tooltip text */
.tooltiptext {
    visibility: hidden;
    width: calc(100vw - 40px);
    background-color: black;
    color: #fff;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;

    position: absolute;
    z-index: 1;
    left: 12px;
}

.content {
    position: relative;
}

.spell-info {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    padding-bottom: 5px;
    gap: 4px;
}

.summs {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    padding-bottom: 5px;
    gap: 80px;
}

.runes {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    padding-bottom: 5px;
    gap: 80px;
}

.runescolumn {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    gap: 2px;
}

.title {
    text-align: center;
    color: white;
}

.skillorder {
    width: 32px;
    height: 32px;
}

.rune {
    width: 32px;
    height: 32px;
}

.skill {
    text-align: center;
}

.skilldiv {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.spell-window {
    background-color: gray;
}

.spellorder-window {
    background-color: gray;
}

.summoner-window {
    background-color: gray;
}

.runes-window {
    background-color: gray;
}